:root {
  --scdfl-red: #f22e3d;
  --scdfl-blue: #22283a;
  --scdfl-gold: #f2b22e;
  --scdfl-gray: #e2d7ce;
}

.container {
  display: grid;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 5px;
  height: 95vh;
}

.item {
  background-color: indianred;
  border: 3px solid var(--scdfl-blue);
}

#header {
  grid-area: 1 / 2 / span 1 / -1;
}

#sidebar {
  grid-area: 1 / 1 / -2 / span 1;
  background-color: var(--scdfl-red);
}

#main {
  grid-area: 2 / 2 / span 2 / span 1;
  background-color: var(--scdfl-gray);
}

#footer {
  grid-area: 4 / 1 / span 1 / span 3;
}
